:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: rgb(255 241 247 / 1);
  --tx-color: rgb(53 52 48 / 1);
  --tx-color-accent: rgb(53 52 48 / 1);
  --accent-color: rgb(53 52 48 / 1);
  --bg-color-accent: rgb(255 141 203 / 1);
  --footer-color: rgb(255 194 230 / 1);
  --title-color: rgb(255 194 230 / 1);
  --title-shadow: rgb(255 141 203 / 1);
  --footer-shadow-big: rgb(255 0 112 / 1);
  --footer-shadow: rgb(255 141 203 / 1);
  --tx-shadow: rgb(255 141 203 / 1);
  --border-menu-hover: rgb(50 49 45 / 0.4);
  --display-rec: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: rgb(255 241 247 / 1);
    --tx-color: rgb(53 52 48 / 1);
    --tx-color-accent: rgb(53 52 48 / 1);
    --accent-color: rgb(53 52 48 / 1);
    --bg-color-accent: rgb(255 141 203 / 1);
    --footer-color: rgb(255 194 230 / 1);
    --title-color: rgb(255 194 230 / 1);
    --title-shadow: rgb(255 141 203 / 1);
    --footer-shadow: rgb(255 0 112 / 1);
    --tx-shadow: rgb(255 141 203 / 1);
    --border-menu-hover: rgb(50 49 45 / 0.4);
    --display-rec: none;
  }
}
